SilverlightHotelBrowser/SilverlightHotelBrowser/Service References/HotelService/HotelService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SilverlightHotelBrowser.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SilverlightHotelBrowser.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHotel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hotel" nillable="true" type="tns:Hotel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotel" nillable="true" type="tns:ArrayOfHotel" />
  <xs:complexType name="Hotel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hotel" nillable="true" type="tns:Hotel" />
</xs:schema>