SilverlightHotelBrowser/SilverlightHotelBrowser/Service References/HotelService/HotelService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49956/HotelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SilverlightHotelBrowser.Web" />
  <xs:element name="GetHotels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SilverlightHotelBrowser.Web" minOccurs="0" name="GetHotelsResult" nillable="true" type="q1:ArrayOfHotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>